.form-section {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

form {
  display: grid;
  gap: 15px;
}

form input, form textarea, form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6D65A6;
  background-color: #413973;
  color: #A9A59F;
}

form button {
  cursor: pointer;
  background-color: #6D65A6;
  border: none;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #5c4f96;
}