@import 'global';

.form-section {
  padding: 20px;
  background-color: $form-bg-color;
  border-radius: 8px;
  margin-top: 20px;
}

form {
  display: grid;
  gap: 15px;
}

form input, form textarea, form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $border-color;
  background-color: $navbar-bg-color;
  color: $text-color;
}

form button {
  cursor: pointer;
  background-color: $primary-button-color;
  border: none;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: $primary-button-hover-color;
}