// Variables de color
$background-color: #534D85;
$text-color: #A9A59F;
$navbar-bg-color: #413973;
$border-color: #6D65A6;
$button-bg-color: #25D366;
$button-hover-color: #20B955;
$form-bg-color: rgba(255, 255, 255, 0.1);