@import 'global';

.header {
  padding: 50px;
  text-align: center;
  background-color: $navbar-bg-color;
  border-bottom: 2px solid $border-color;
  color: $text-color;

  img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}