@use 'global';
@use 'sass:color';

.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background-color: global.$navbar-bg-color;
  padding: 10px 20px;
}

.navbar a {
  color: global.$text-color;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: color 0.3s ease;

  &:hover {
    color: color.adjust(global.$text-color, $lightness: 10%);
  }
}