@use 'variables';
@use 'animations';

footer {
  text-align: center;
  padding: 15px;
  background-color: variables.$accent-color;
  color: variables.$text-color;
  font-size: 0.9rem;
  border-top: 2px solid variables.$border-color;
  opacity: 0;
  animation: fadeIn #{variables.$animation-duration} #{variables.$animation-ease} forwards;

  &:hover {
    animation: zoomIn 0.5s #{variables.$animation-ease} forwards;
  }
}