@use 'variables';
@use 'animations';

.header {
  padding: 50px;
  text-align: center;
  background-color: variables.$accent-color;
  border-bottom: 2px solid variables.$border-color;
  color: variables.$text-color;
  opacity: 0;
  animation: fadeIn #{variables.$animation-duration} #{variables.$animation-ease} forwards;

  &:hover {
    animation: zoomIn 0.5s #{variables.$animation-ease} forwards;
  }
}