// Variables de colores
$background-color: #534D85;
$text-color: #A9A59F;
$accent-color: #413973;
$border-color: #6D65A6;
$link-hover-color: #909292;
$placeholder-color: #C9C9C9;
$whatsapp-color: #25D366;
$whatsapp-hover-color: #20B955;
$whatsapp-size: 60px;

// Variables de animación
$animation-duration: 1.5s;
$animation-ease: ease-in-out;