// _variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;

// _mixins.scss
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// style.scss
@use './variables';
@use './mixins';

header {
  background-color: $primary-color;
  @include flex-center;
  height: 60px;
}